#banner {
        margin: 0 auto;
        width: 950px;
}

#banner h2 {
        position: absolute;
        top: 0px;
        margin-left: 210px;
        color: #1f497d;
        font-family: Arial, Helvetica, sans-serif;
}

#banner h3 {
        position: absolute;
        top: 150px;
        margin-left: 190px;
        color: #1f497d;
        font-family: Arial, Helvetica, sans-serif;
}

#banner div {
		position: absolute;
        top: 60px;
		margin-left: 800px;
		font-family: Arial, Helvetica, sans-serif;
}

/* Menu
************************************************/
#menu-wrap {
	clear: both;
	width: 860px;
	height: 52px;
	margin: 0px auto 0px auto;
}

#menu {
	float: left;
	width: 860px;
	height: 54px;
	padding-left: 10px;
	background: url(images/menu.jpg) no-repeat left top;
}

#menu ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: block;
	float: left;
}

#menu a {
	display: block;
	float: left;
	margin-right: 3px;
	padding: 10px 16px 10px 17px;
	text-decoration: none;
	font: 13px Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}

#menu a:hover { 
	text-decoration: none; 
	color: #48ACDE;
}

#menu .current_page_item a {
	color: #48ACDE;
}

